<!DOCTYPE html>
<html>
<body>

<h1>Show all</h1>
{{ dump(result) }}
<br><br>

{{ dump(result[0].translate().getTitle) }} : {{ dump(result[0].translate().getTemplate) }} <br><br>
{{ dump(result[0].translate('nl').getTitle) }} : {{ dump(result[0].translate('nl').getTemplate) }} <br><br>
{{ dump(result[0].translate().getTitle) }} : {{ dump(result[0].translate().getTemplate) }} <br><br>


</body>
</html>
