<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block metadata %}
    <title>{{ simpleText('metadata.title') }}</title>
    <meta name="description" content="{{ simpleText('metadata.description') }}">
    <meta name="keywords" content="{{ simpleText('metadata.keywords') }}" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title block allowing child pages to override -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/img/icons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/img/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
    <!-- Styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/master.css" />
        <link rel="stylesheet" href="{{ asset('bundles/ensiesimpletext/css/glyphicon.css') }}" />
    {% endblock %}
    <!-- Style block allowing child pages to inject their own styles -->

    {% block socialmedia_tags %}
    {% endblock %}

    <!-- include JS libs -->
    {% block javascripts %}
        {% javascripts
        '@EnsieAssetBundle/Resources/public/js/jquery.min.js'
        '@EnsieAssetBundle/Resources/public/js/jquery-ui.min.js'
        '@EnsieAssetBundle/Resources/public/js/modernizr.min.js'
        '@EnsieAssetBundle/Resources/public/js/responsiveslides.min.js'
        '@EnsieAssetBundle/Resources/public/js/url.min.js'

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <!-- Typekit integration -->
    <script type="text/javascript" src="https://use.typekit.net/ivv4coi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% block javascripts2 %}
        {% javascripts
        '@EnsieAssetBundle/Resources/public/js/common.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="notifications">
        {% for flashMessage in app.session.flashbag.get('succes') %}
            <div class="notification success" data-type="success">
                <p>{{ simpleText(flashMessage, translationPlaceHolders)|raw }}{{ simpleTextSonataAdminLink(flashMessage)|raw }}</p>
                <span class="close"></span>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="notification error" data-type="error">
                <p>{{ simpleText(flashMessage, translationPlaceHolders)|raw }}{{ simpleTextSonataAdminLink(flashMessage)|raw }}</p>
                <span class="close"></span>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="notification normal" data-type="normal">
                <p>{{ simpleText(flashMessage, translationPlaceHolders)|raw }}{{ simpleTextSonataAdminLink(flashMessage)|raw }}</p>
                <span class="close"></span>
            </div>
        {% endfor %}
    </div>
{% if app.request.get('_route') == 'home' %}
<header class="pageheader">
{% else %}
<header class="pageheader sub">
{% endif %}
    <a href="/" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 445.4 138.6" enable-background="new 0 0 445.4 138.6" xml:space="preserve"><path d="M111.7 137.6v-8.5l9.7-0.7 2.7-2.9 0-65.6h-13v-7.6l27.4-8.9h9.2l0 11.2c7.2-4 13.5-7 18.7-8.8 5.3-1.9 9.8-2.8 13.7-2.8 8.7 0 15.1 2.6 19.4 7.8 4.3 5.2 6.4 13.1 6.4 23.8l0 51 2.5 2.9 10 0.7v8.5H172v-8.5l8.2-0.7 2.6-2.9 0-45.5c0-7.1-1.4-12.2-4.1-15.5 -2.7-3.3-7.1-5-13-5 -2.3 0-4.9 0.3-7.9 0.8 -3 0.6-6.4 1.4-10.1 2.4l0 62.7 2.6 2.9 8.4 0.7v8.5H111.7zM294.3 47.3l0 25.3h-11.4L281 58.4l-2.3-2.1c-2.1-1-4.2-1.7-6.3-2.2 -2.1-0.5-4.2-0.7-6.2-0.7 -4.6 0-8.1 1-10.7 3 -2.5 2-3.8 4.8-3.8 8.4 0 3 1 5.5 3 7.7 2 2.2 6.9 5.2 14.8 9l0.4 0.2c18.3 8.8 27.4 17.7 27.4 26.8 0 9.7-3.5 17.4-10.3 23 -6.9 5.6-16.4 8.4-28.4 8.4 -4.7 0-9.7-0.4-14.9-1.2 -5.2-0.8-10.7-2-16.5-3.6l0-28.1h11.4l2.2 16.3 1.9 2.1c2.5 1.3 5 2.3 7.7 3 2.7 0.7 5.4 1 8.3 1 5 0 9-1.2 11.8-3.7 2.9-2.4 4.3-5.8 4.3-10.1 0-5.4-5.5-10.5-16.4-15.5 -3.7-1.7-6.6-3-8.6-4.1 -7.9-3.9-13.4-7.8-16.6-11.6 -3.2-3.8-4.8-8.3-4.8-13.5 0-8.5 3.4-15.3 10.2-20.5 6.8-5.2 15.8-7.8 27.1-7.8 4.8 0 9.6 0.4 14.4 1.2C284.8 44.5 289.5 45.7 294.3 47.3zM332.3 43.3h9.2l0 82.1 2.8 2.9 10.7 0.7v8.5h-49.8v-8.5l10.3-0.7 2.7-2.9 0-65.6h-12.5v-7.6L332.3 43.3zM330.2 0c4.1 0 7.5 1.3 10.2 3.9 2.7 2.6 4 6 4 10 0 4.2-1.3 7.7-3.9 10.3 -2.6 2.7-6 4-10.1 4 -4 0-7.3-1.3-9.9-4 -2.7-2.7-4-6-4-10 0-4.1 1.3-7.5 3.9-10.2C323.1 1.4 326.3 0 330.2 0zM445.4 114.1l0 14.1c-6.5 3.7-13.1 6.5-19.7 8.4 -6.6 1.9-13.3 2.8-19.9 2.8 -14.2 0-25.6-4.4-34.1-13.1 -8.6-8.7-12.9-20.3-12.9-34.6 0-14.4 4.4-26.2 13.1-35.3 8.8-9.1 20.1-13.7 33.9-13.7 12.5 0 22.2 3.8 29.2 11.3 6.9 7.5 10.4 18.1 10.4 31.7v3.6h-62.3v0.6c0 10.8 2.7 19.3 8.2 25.5 5.5 6.2 13 9.3 22.5 9.3 5 0 10.1-0.9 15.3-2.6C434.3 120.2 439.7 117.6 445.4 114.1zM420.3 79.1v-2c0-7.7-1.4-13.7-4.3-17.8 -2.8-4.1-6.9-6.2-12.3-6.2 -5.8 0-10.5 2.3-14 6.9 -3.5 4.6-5.4 11-5.8 19.1H420.3zM85.7 22.1c0.1 0.2 0.1 0.3 0.2 0.5 0.3 0.8 0.6 1.6 0.8 2.4 0 0.1 0.1 0.2 0.1 0.3 0.3 0.8 0.5 1.6 0.7 2.3 0 0 0 0.1 0 0.1 0.2 0.8 0.5 1.6 0.7 2.4 0 0.1 0 0.2 0.1 0.2 0.9 3.4 1.4 6.6 1.8 9.6h0c0.2 1.5 0.3 2.9 0.4 4.3h11.8V10.1H96 0v9.3l11.6 1 3.1 3 0 50.6 0 50.6 -3.1 3 -11.6 1v9.3h96 6.2v-34.1H90.4c-0.1 1.4-0.2 2.8-0.4 4.3h0c-0.3 3-0.9 6.2-1.8 9.6 0 0.1 0 0.2-0.1 0.2 -0.2 0.8-0.4 1.6-0.7 2.4 0 0 0 0.1 0 0.1 -0.2 0.8-0.5 1.5-0.7 2.3 0 0.1-0.1 0.2-0.1 0.3 -0.3 0.8-0.5 1.6-0.8 2.4 -0.1 0.2-0.1 0.3-0.2 0.5 -0.1 0.3-0.2 0.6-0.4 0.9H34.5c2.4-5.7 9.8-26.6 0.5-49.3h30.8c1.4 3.6 3.1 9.3 3.6 16.7h10.3V49.7H69.4c-0.5 7-2 12.5-3.4 16.1H36.7c6.9-21.7-0.5-40.9-2.5-45.3h50.8C85.3 21.1 85.5 21.6 85.7 22.1z"/></svg>
    </a>
    <div class="search">
        <form id="searchForm" action="{{ url('definition_search') }}">
            <input id="auto-complete-url" value="{{ url('definition_autocomplete_search') }}" type="hidden">
            <input id="globalSearch" type="text" value="{% if searchWord is defined and searchWord != '' %}{{ searchWord }}{% endif %}" name="search" placeholder="{{ simpleText('header.search_placeholder') }}">{{ simpleTextSonataAdminLink('header.search_placeholder')| raw }}
            <input id="searchSubmitButton" type="submit" value="submit">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 15.2 17.6" enable-background="new 0 0 15.2 17.6" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 15.5l-3.1-4.6h-0.3l-0.3 0.3 -0.5-0.7c1.1-1.1 1.8-2.7 1.8-4.3C12.5 2.8 9.7 0 6.3 0 2.8 0 0 2.8 0 6.2c0 3.4 2.8 6.2 6.3 6.2 1 0 2-0.2 2.8-0.7l0.6 0.7 -0.4 0.4V13c0 0 3 4.2 3.3 4.4 0.3 0.3 0.9 0.2 0.9 0.2s0.9-0.5 1.4-1C15.5 16.1 15 15.5 15 15.5zM2.2 6.2c0-2.2 1.8-4 4-4 2.2 0 4 1.8 4 4 0 2.2-1.8 4-4 4C4 10.2 2.2 8.4 2.2 6.2z"/></svg>
            <div class="autocomplete" id="autocomplete"></div>
        </form>
    </div>
    {% if app.user is null %}
    <nav class="user">
        <a href="#" class="toggle-search" data-show="dropdown-search">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 15.2 17.6" enable-background="new 0 0 15.2 17.6" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 15.5l-3.1-4.6h-0.3l-0.3 0.3 -0.5-0.7c1.1-1.1 1.8-2.7 1.8-4.3C12.5 2.8 9.7 0 6.3 0 2.8 0 0 2.8 0 6.2c0 3.4 2.8 6.2 6.3 6.2 1 0 2-0.2 2.8-0.7l0.6 0.7 -0.4 0.4V13c0 0 3 4.2 3.3 4.4 0.3 0.3 0.9 0.2 0.9 0.2s0.9-0.5 1.4-1C15.5 16.1 15 15.5 15 15.5zM2.2 6.2c0-2.2 1.8-4 4-4 2.2 0 4 1.8 4 4 0 2.2-1.8 4-4 4C4 10.2 2.2 8.4 2.2 6.2z"/></svg>
        </a>
        <a href="#" class="register" data-action="register">{{ simpleText('header.button_write') }}</a>{{ simpleTextSonataAdminLink('header.button_write')| raw }}
        {% if not app.user %}
        <a href="#" class="login" data-action="login">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" version="1.1" viewBox="0 0 48 48"  x="0px" xml:space="preserve" y="0px"><path d="M24.042 30c-7.145 0-12.958-6.729-12.958-15S16.896 0 24.042 0C31.187 0 37 6.729 37 15S31.187 30 24.042 30zM24.042 2c-6.042 0-10.958 5.832-10.958 13s4.916 13 10.958 13S35 22.168 35 15 30.084 2 24.042 2z"/><path d="M47.982 48H0.019v-6.771c0-2.951 1.867-5.601 4.645-6.592L17 31.238v-4.155h2v5.679l-13.735 3.78c-1.913 0.687-3.247 2.579-3.247 4.687V46h43.964v-4.771c0-2.107-1.333-4-3.319-4.709L29 32.762v-5.637h2v4.113l12.265 3.376c2.85 1.015 4.717 3.663 4.717 6.614V48z"/><path d="M32.799 13.218c-0.068 0-0.136-0.001-0.205-0.004 -2.251-0.082-4.875-1.506-6.542-3.431 -1.166 1.486-2.831 2.442-4.892 2.792 -3.605 0.619-7.728-0.765-8.982-1.982l1.393-1.436c0.604 0.587 4.035 1.994 7.254 1.446 1.998-0.339 3.438-1.366 4.28-3.051l0.836-1.671 0.927 1.622c1.107 1.938 3.763 3.637 5.8 3.712 0.906 0.024 1.55-0.247 1.961-0.857l1.659 1.117C35.528 12.604 34.295 13.218 32.799 13.218z"/></svg>
        </a>
        {% endif %}
    </nav>
    {% else %}
    <nav class="user">
        <a href="#" class="toggle-search" data-show="dropdown-search">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 15.2 17.6" enable-background="new 0 0 15.2 17.6" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 15.5l-3.1-4.6h-0.3l-0.3 0.3 -0.5-0.7c1.1-1.1 1.8-2.7 1.8-4.3C12.5 2.8 9.7 0 6.3 0 2.8 0 0 2.8 0 6.2c0 3.4 2.8 6.2 6.3 6.2 1 0 2-0.2 2.8-0.7l0.6 0.7 -0.4 0.4V13c0 0 3 4.2 3.3 4.4 0.3 0.3 0.9 0.2 0.9 0.2s0.9-0.5 1.4-1C15.5 16.1 15 15.5 15 15.5zM2.2 6.2c0-2.2 1.8-4 4-4 2.2 0 4 1.8 4 4 0 2.2-1.8 4-4 4C4 10.2 2.2 8.4 2.2 6.2z"/></svg>
        </a>
        <a href="{{ path('profile_definition_write') }}" class="add">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 57.7 57.6" enable-background="new 0 0 57.7 57.6" xml:space="preserve"><path d="M29.3 57.5c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1 0.6 0 1 0.4 1 1v55.5C30.3 57 29.8 57.5 29.3 57.5z"/><path d="M56.7 29.2H1.3c-0.6 0-1-0.4-1-1s0.4-1 1-1h55.5c0.6 0 1 0.4 1 1S57.3 29.2 56.7 29.2z"/></svg>
        </a>
        <a href="{{ path('profile_notifications_view') }}" class="updates{% if hasNotifications(app.user) %} new{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 59.6 49.9" enable-background="new 0 0 59.6 49.9" xml:space="preserve"><path d="M28.7 49.9c-0.1 0-0.3 0-0.4-0.1C22 46.7 18 39.7 18 31.9V10.7c0-0.6 0.4-1 1-1s1 0.4 1 1v21.2c0 6.9 3.7 13.4 9.2 16.1 0.5 0.2 0.7 0.8 0.4 1.3C29.5 49.7 29.1 49.9 28.7 49.9z"/><path d="M55 26.9h-2c-0.6 0-1-0.4-1-1v-10c0-0.6 0.4-1 1-1h2c2.7 0 5 2.3 5 5v2.5C60 24.9 57.8 26.9 55 26.9zM54 24.9h1c1.5 0 3-0.9 3-2.5v-2.5c0-1.5-1.5-3-3-3h-1V24.9z"/><path d="M53 42.3c-0.2 0-0.3 0-0.4-0.1l-1.8-0.9C41.1 36.5 32 31.9 11 31.9H8c-4.7 0-8-3.3-8-8v-5c0-5 3.5-9 8-9h3c21.9 0 31.1-4.6 41-9.5l0.6-0.3c0.3-0.2 0.7-0.1 1 0C53.8 0.3 54 0.7 54 1v40.3c0 0.3-0.2 0.7-0.5 0.8C53.4 42.3 53.2 42.3 53 42.3zM8 11.9c-3.8 0-6 3.6-6 7v5c0 3.6 2.4 6 6 6h3c21.4 0 31.2 4.9 40.7 9.6l0.3 0.2V2.6c-9.7 4.8-19.3 9.3-41 9.3H8z"/></svg>
        </a>
        <a href="{{ path('profile_dashboard') }}" class="login"  data-show="dropdown-user">
            <img src="{{ getProfileImage(app.user, 'small') }}">
        </a>
        {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a href="#" class="register" data-action="register">{{ simpleText('header.button_write') }}</a>{{ simpleTextSonataAdminLink('header.button_write')| raw }}
        <a href="#" class="login" data-action="login">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" version="1.1" viewBox="0 0 48 48"  x="0px" xml:space="preserve" y="0px"><path d="M24.042 30c-7.145 0-12.958-6.729-12.958-15S16.896 0 24.042 0C31.187 0 37 6.729 37 15S31.187 30 24.042 30zM24.042 2c-6.042 0-10.958 5.832-10.958 13s4.916 13 10.958 13S35 22.168 35 15 30.084 2 24.042 2z"/><path d="M47.982 48H0.019v-6.771c0-2.951 1.867-5.601 4.645-6.592L17 31.238v-4.155h2v5.679l-13.735 3.78c-1.913 0.687-3.247 2.579-3.247 4.687V46h43.964v-4.771c0-2.107-1.333-4-3.319-4.709L29 32.762v-5.637h2v4.113l12.265 3.376c2.85 1.015 4.717 3.663 4.717 6.614V48z"/><path d="M32.799 13.218c-0.068 0-0.136-0.001-0.205-0.004 -2.251-0.082-4.875-1.506-6.542-3.431 -1.166 1.486-2.831 2.442-4.892 2.792 -3.605 0.619-7.728-0.765-8.982-1.982l1.393-1.436c0.604 0.587 4.035 1.994 7.254 1.446 1.998-0.339 3.438-1.366 4.28-3.051l0.836-1.671 0.927 1.622c1.107 1.938 3.763 3.637 5.8 3.712 0.906 0.024 1.55-0.247 1.961-0.857l1.659 1.117C35.528 12.604 34.295 13.218 32.799 13.218z"/></svg>
        </a>
        {% endif %}
        <div class="dropdown-user">
            <ul>
                <li><a href="{{ path('profile_profile_edit') }}">{{ simpleText('header.user_menu_edit_profile') }}</a>{{ simpleTextSonataAdminLink('header.user_menu_edit_profile') | raw }}</li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ simpleText('header.user_menu_logout') }}</a>{{ simpleTextSonataAdminLink('header.user_menu_logout') | raw }}</li>
            </ul>
        </div>
    </nav>
    {% endif %}
</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<footer class="pagefooter blocks">
    <div class="wrapper">
        <div class="block third left">
            <h2>{{ simpleText('footer.new_definitions') }}{{ simpleTextSonataAdminLink('footer.new_definitions') | raw }}</h2>
            {{ render(controller('EnsieEnsieBundle:Definition:popularDefinitionList', {'maxResult': 5})) }}
        </div>

        <div class="block third left">
            <h2>{{ simpleText('footer.popular_writers') }}{{ simpleTextSonataAdminLink('footer.popular_writers') | raw }}</h2>
            {{ render(controller('EnsieUserBundle:User:popularUserList', {'maxResult': 5})) }}
        </div>

        <div class="block third left">
            <h2>{{ simpleText('footer.new_writers') }}{{ simpleTextSonataAdminLink('footer.new_writers') | raw }}</h2>
            {{ render(controller('EnsieUserBundle:User:newUserList', {'maxResult': 5})) }}
        </div>
    </div>
    <hr/>
    <div class="wrapper">
        <div class="block full">
            {{ simpleText('homepage.menu_bottom')|raw }}{{ simpleTextSonataAdminLink('homepage.menu_bottom', true)|raw }}
            <ul class="horizontal">
                <li class="icon">
                    <a target="_blank" href="{{ simpleText('footer.google_link') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 52.9 47.6" enable-background="new 0 0 52.9 47.6" xml:space="preserve"><path d="M51.8 19.3h-8v-8c0-0.6-0.5-1.1-1.1-1.1h-2.3c-0.6 0-1.1 0.5-1.1 1.1v8h-8c-0.6 0-1.1 0.5-1.1 1.1v2.3c0 0.6 0.5 1.1 1.1 1.1h8v8c0 0.6 0.5 1.1 1.1 1.1h2.3c0.6 0 1.1-0.5 1.1-1.1v-8h8c0.6 0 1.1-0.5 1.1-1.1v-2.3C52.9 19.8 52.4 19.3 51.8 19.3zM25 26.3c-1.7-1.2-3.2-2.9-3.2-3.5 0-1 0.1-1.4 2.3-3.1 2.8-2.2 4.4-5.1 4.4-8.2 0-2.8-0.9-5.3-2.3-7h1.1c0.2 0 0.5-0.1 0.6-0.2L31 2c0.4-0.3 0.6-0.8 0.4-1.2C31.3 0.3 30.9 0 30.4 0h-14c-1.5 0-3.1 0.3-4.6 0.8C6.6 2.6 3 6.9 3 11.4c0 6.3 4.9 11.1 11.5 11.3 -0.1 0.5-0.2 1-0.2 1.5 0 1 0.2 1.9 0.8 2.8 -0.1 0-0.1 0-0.2 0C8.6 27 3 30.1 0.8 34.6 0.3 35.8 0 37 0 38.2c0 1.2 0.3 2.3 0.9 3.3 1.3 2.4 4.2 4.3 8.2 5.3 2 0.5 4.2 0.8 6.4 0.8 2 0 4-0.3 5.7-0.8 5.6-1.6 9.2-5.7 9.2-10.4C30.4 31.8 28.9 29.1 25 26.3zM7.3 36.7c0-3.3 4.2-6.2 9-6.2l0.1 0c1 0 2.1 0.2 3 0.5 0.3 0.2 0.6 0.4 0.9 0.6 2.2 1.5 3.7 2.5 4.1 4.1 0.1 0.4 0.1 0.8 0.1 1.2 0 4.1-3.1 6.2-9.1 6.2C10.9 43.1 7.3 40.3 7.3 36.7zM11.6 5.5c0.7-0.9 1.7-1.3 2.8-1.3l0.1 0c3.1 0.1 6.1 3.5 6.6 7.7 0.3 2.3-0.2 4.5-1.4 5.9 -0.7 0.9-1.7 1.3-2.9 1.3 0 0 0 0 0 0h0c-3-0.1-6.1-3.7-6.6-7.8C10 8.9 10.5 6.8 11.6 5.5z"/></svg>
                    </a>
                    {{ simpleTextSonataAdminLink('footer.google_link') | raw }}
                </li>
                <li class="icon">
                    <a target="_blank" href="{{ simpleText('footer.facebook_link') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 22.4 48.3" enable-background="new 0 0 22.4 48.3" xml:space="preserve"><path d="M22.4 15.6h-7.6v-5c0-1.9 1.2-2.3 2.1-2.3 0.9 0 5.4 0 5.4 0V0l-7.4 0C6.6 0 4.8 6.2 4.8 10.1v5.5H0v8.5h4.8c0 10.9 0 24.1 0 24.1h10c0 0 0-13.3 0-24.1h6.8L22.4 15.6z"/></svg>
                    </a>
                    {{ simpleTextSonataAdminLink('footer.facebook_link') | raw }}
                </li>
                <li class="icon">
                    <a target="_blank" href="{{ simpleText('footer.twitter_link') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 34.9 48.3" enable-background="new 0 0 34.9 48.3" xml:space="preserve"><path d="M29.2 36.2h-9.3c-6.6 0-7.7-2.9-7.7-5.7 0-1.3 0.1-3.4 0.2-6h15.6c2.3 0 6.8-1 6.8-5.2 0-4.3-2.1-7.1-4.8-7.1H12.5C12.5 6.1 12.1 0 6.1 0 3.6 0 1.6 1 0.7 3.6c-1.1 3.3-0.8 7.2-0.8 10.7 0 0.7 0 1.3 0 2 0 2.3 0.1 4.6 0.1 6.8 0 2.5 0 4.9 0 7.4 0 13.7 12.5 17.6 14.9 17.6 2.4 0 11.8 0.2 13.5 0.2 1.7 0 6.6-0.4 6.6-5.4S31.5 36.2 29.2 36.2z"/></svg>
                    </a>
                    {{ simpleTextSonataAdminLink('footer.twitter_link') | raw }}
                </li>
                <li class="icon">
                    <a target="_blank" href="{{ simpleText('footer.linkedin_link') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 49.4 49.7" enable-background="new 0 0 49.4 49.7" xml:space="preserve"><path d="M45.8 0H3.7C1.6 0 0 1.6 0 3.6v42.6c0 2 1.6 3.6 3.7 3.6h42.1c2 0 3.7-1.6 3.7-3.6V3.6C49.4 1.6 47.8 0 45.8 0zM15 41.6H7.5V19.2H15V41.6zM11.2 16.1L11.2 16.1c-2.6 0-4.2-1.7-4.2-3.9 0-2.2 1.7-3.9 4.2-3.9 2.6 0 4.1 1.7 4.2 3.9C15.5 14.4 13.9 16.1 11.2 16.1zM41.9 41.6h-7.5v-12c0-3-1.1-5.1-3.8-5.1 -2.1 0-3.3 1.4-3.8 2.7 -0.2 0.5-0.2 1.1-0.2 1.8v12.5h-7.5c0 0 0.1-20.4 0-22.5h7.5v3.2c1-1.5 2.8-3.7 6.7-3.7 4.9 0 8.6 3.2 8.6 10.1V41.6z"/></svg>
                    </a>
                    {{ simpleTextSonataAdminLink('footer.linkedin_link') | raw }}
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}

<div class="overlay">
    {% block overlays %}
        <div class="modal" data-selector="login">
            <header>
                <h2>{{ simpleText('overlay.login_title') }}{{ simpleTextSonataAdminLink('overlay.login_title') | raw }}</h2>
            </header>
            <div class="modal-content">
                <p>{{ simpleText('overlay.login_description') }}{{ simpleTextSonataAdminLink('overlay.login_description') | raw }}</p>
                {% render url('fos_user_security_login') %}
            </div>
        </div>
        <div class="modal" data-selector="resetting">
            <header>
                <h2>{{ simpleText('overlay.resetting_title') }}{{ simpleTextSonataAdminLink('overlay.resetting_title') | raw }}</h2>
            </header>
            <div class="modal-content">
                {% render url('fos_user_resetting_request') %}
            </div>
        </div>
        <div class="modal" data-selector="register">
            <header>
                <h2>{{ simpleText('overlay.login_register') }}{{ simpleTextSonataAdminLink('overlay.login_register') | raw }}</h2>
            </header>
            <div class="modal-content">
                <p>{{ simpleText('overlay.registration_description') }}{{ simpleTextSonataAdminLink('overlay.registration_description') | raw }}</p>
                <form action="{{ hwi_oauth_login_url('linkedin') }}">
                    <ul class="form">
                        <li class="buttonwrapper">
                            <input type="submit"
                                   value="{{ simpleText('overlay.registration_register_linkedin_button_value') }}"/>

                            <div class="spinner"></div>
                            {{ simpleTextSonataAdminLink('overlay.registration_register_linkedin_button_value') | raw }}
                        </li>
                        <li class="buttonwrapper">
                            <input type="button" onclick="window.location.href='{{ url('register_company') }}'"
                                   value="{{ simpleText('overlay.registration_register_company_button_value') }}"/>

                            <div class="spinner"></div>
                            {{ simpleTextSonataAdminLink('overlay.registration_register_company_button_value') | raw }}
                        </li>
                        <li class="center">
                            <a href="#"
                               data-action="login">{{ simpleText('overlay.register_already_account') }}</a>{{ simpleTextSonataAdminLink('overlay.register_already_account') | raw }}
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="modal" data-selector="register-company">
            <header>
                <h2>{{ simpleText('overlay.login_register_company') }}{{ simpleTextSonataAdminLink('overlay.login_register_company') | raw }}</h2>
            </header>
            <div class="modal-content">
                {% render url('fos_user_registration_register') %}
            </div>
        </div>
        <div class="modal" data-selector="delete">
            <header>
                <h2>{{ simpleText('profile.definition_delete_overlay_title_%word%') }}</h2>{{ simpleTextSonataAdminLink('profile.definition_delete_overlay_title_%word%')|raw }}
            </header>
            <div class="modal-content">
                <p>{{ simpleText('profile.definition_delete_overlay_content_%word%') }}</p>{{ simpleTextSonataAdminLink('profile.definition_delete_overlay_content_%word%')|raw }}
                <ul class="form">
                    <li class="buttonwrapper">
                        <input type="submit" value="{{ simpleText('profile.definition_delete_overlay_button_value') }}"
                               class="delete">
                        <input type="submit" value="{{ simpleText('profile.definition_delete_overlay_button_cancel') }}"
                               class="cancel">{{ simpleTextSonataAdminLink('profile.definition_delete_overlay_button_cancel')|raw }}
                    </li>
                    <li class="center">
                        <a href="">{{ simpleText('profile.definition_delete_overlay_button_cancel') }}</a>{{ simpleTextSonataAdminLink('profile.definition_delete_overlay_button_cancel')|raw }}
                    </li>
                </ul>
            </div>
        </div>
        {% if token is defined and token %}
            <div class="modal" data-selector="reset">
                <header>
                    <h2>{{ simpleText('overlay.reset_title') }}{{ simpleTextSonataAdminLink('overlay.reset_title') | raw }}</h2>
                </header>
                <div class="modal-content">
                    {% render url('fos_user_resetting_reset', {'token': token}) %}
                    <input type="hidden" data-action="reset">
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>

<!-- Script block allowing child pages to inject their own scripts -->
{% block childJavascripts %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            if(location.hostname.match('ensie.nl')) {
                var pageTracker = _gat._getTracker("UA-296946-15");
                console.log('detected .nl');
            } else {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-296946-18', 'auto');
                ga('send', 'pageview');
                console.log('detected .com');
            }
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    {% javascripts '@EnsieAssetBundle/Resources/public/js/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if login is defined and login is not null and login and app.user == null %}
    <script type="text/javascript">
        $(function() {
            $('[data-action="login"]').click();
        });
    </script>
    {% endif %}
    {% if token is defined and token is not null and token %}
    <script type="text/javascript">
        $(function() {
            $('[data-action="reset"]').click();
        });
    </script>
    {% endif %}
    {% if app.user != null %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('[data-action="delete"]').click(function(){
                dataSelector = $('[data-selector="delete"]');
                var slug = $(this).data('id');
                var word = $(this).data('word');
                var url = $(this).data('url');
                var elem = dataSelector.find("header h2");
                elem.text(elem.text().replace("%word%", word));
                elem = dataSelector.find(".modal-content p");
                elem.html(elem.html().replace("%word%", '<strong>' + word + '</strong>'));
                $('.modal-content .form .delete').click(function(event){
                    event.preventDefault()
                    window.location = url;
                });
                $('.modal-content .form .cancel').click(function(event){
                    $('.overlay:visible').fadeOut('fast', function() { $('[data-selector="delete"]').fadeOut('fast'); });
                });
            });

            {#{% if ensieUser.firstLogin %}#}
            {#$('.overlay:hidden').fadeIn('fast', function() { $(this).find('[data-selector="profile-edit"]').fadeIn('fast'); });#}
            {#{% endif %}#}
        });
    </script>
    {% endif %}
{% endblock %}

{% block metadata_edit %}
    {{ simpleTextSonataAdminLink('metadata.title') | raw }}
    {{ simpleTextSonataAdminLink('metadata.description') | raw }}
    {{ simpleTextSonataAdminLink('metadata.keywords') | raw }}
{% endblock %}
</body>
</html>